.page-header
  = link_to new_chat_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Chat
  %h1 Listing chats

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th User
        %th Message
        %th
        %th
        %th

    %tbody
      - @chats.each do |chat|
        %tr
          %td= chat.user
          %td= chat.message
          %td= link_to 'Show', chat
          %td= link_to 'Edit', edit_chat_path(chat)
          %td= link_to 'Destroy', chat, data: { confirm: 'Are you sure?' }, method: :delete

= react_component 'Login'
